<% layout('layout') -%>
<p>displayName: <%= user.displayName %></p>
<p>givenName: <%= user.givenName %></p>
<p>familyName: <%= user.familyName %></p>
<p>email: <%= user.email %></p>
<p>provider: <%= user.provider %></p>
<p>issuer: <%= user.issuer %></p>
<p>ID: <%= user.id %></p>
<p>nameID: <%= user.nameID %></p>